{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h1 id="head_title">Welcome to my Blog</h1>

    <!-- search box -->
    <div class="search_box">
        <form method="GET" action="{% url 'home' %}">
            <input id="searchFld" type="text"
                   name="search"
                   placeholder="search in articles..."
                   value="{{ search_query|default:'' }}">
            <button id="searchBtn" type="submit">
                search
            </button>
            {% if search_query %}
                <a id="delBtn" href="{% url 'home' %}">
                    ✕ del search
                </a>
            {% endif %}
        </form>
    </div>

    <!-- search result -->
    {% if search_query %}
        <p class="para">
            search result about: "<strong>{{ search_query }}</strong>"
            ({{ articles.count }} results)
        </p>
    {% endif %}

    <!-- articles -->
    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'article_detail' article.id %}">
                    {% if search_query %}
                        {{ article.title|safe }}
                    {% else %}
                        {{ article.title }}
                    {% endif %}
                </a></h2>
                <p class="date">Publish Date:{{ article.created_at|date:"d M Y" }}</p>
                <p>
                    {% if search_query %}
                        {{ article.content|truncatewords:30|safe }}
                    {% else %}
                        {{ article.content|truncatewords:30 }}
                    {% endif %}
                </p>
                <a href="{% url 'article_detail' article.id %}">Read more...</a>
            </div>
        {% endfor %}
    {% else %}
        {% if search_query %}
            <div id="searchQ">
                <h3>no reasult found</h3>
                <p>try other search words <a href="{% url 'home' %}">see all articles</a></p>
            </div>
        {% else %}
            <p>There is no articles right now ...</p>
        {% endif %}
    {% endif %}
{% endblock %}