{% extends 'blog/base.html' %}

{% block content %}
    <h1>Welcome to my Blog</h1>

    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
                <p class="date">Publish Date:{{ article.created_at|date:"d M Y" }}</p>
                <p>{{ article.content|truncatewords:30 }}</p>
                <a href="{% url 'article_detail' article.id %}">Read more...</a>
            </div>
        {% endfor %}
    {% else %}
        <p>There is no articles right now ...</p>
    {% endif %}
{% endblock %}